<style>
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("elena-putina-yYCL8tN3B0w-unsplash.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('elena-putina-yYCL8tN3B0w-unsplash.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:black;
    
  }
</style>